/*Variables*/

$firstTextColor: #fff;
$secondTextColor: #777777;
$thirdTextColor:#FED136;
$forthTextColor: #222222;

$font-standard: 'Montserrat', sans-serif;
$font-decoration: 'Lobster', cursive;


/*Global*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: $font-standard;
}
h1{
    margin: 0;
    padding: 0;
}
p{
    font-size: 16px;
    text-align: center;
}
a{
    color: $firstTextColor;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 10px;
}
a:hover{
    list-style: none; 
    color: $thirdTextColor;
    text-decoration: none;
}
h3{
    font-size: 18px;
    font-weight: bold;
    color: $forthTextColor;
    margin: 0 0 12px 0;
    text-align: center;
}
h5{
    font-size: 14px;
    font-style: italic;
    color: #737373;
}
section{
    margin: 3rem 0;
    padding: 3rem 0;
}
.section-title{
    text-align: center;
    padding: 3rem 0;
    h2{
        font-size: 40px;
        padding: 5px 0;
        text-transform: uppercase;
        font-weight: bold;
        margin: 0;
        color: $forthTextColor;
    }
    p{
        font-family: 'Montserrat', sans-serif;
        font-style: italic;
        color: $secondTextColor;
    }
}

/*Header*/
header{
    background:url(https://i.postimg.cc/6qHRBnFP/pexels-mnz-1670770.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    object-fit: cover;
    color: $firstTextColor;
    font-family: $font-standard;
}
nav{
    min-height: 10vh;
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 10px;
    #logo{
        font-size:24px;
        color: $thirdTextColor;
        font-family: $font-decoration;
        letter-spacing: 2px;
    }
    .nav-links{
        display:flex;
        list-style:none;
        width: 50%;
        justify-content: space-evenly;
        padding:0;
        margin:0;
        li{
            color:#fff;
            text-decoration: none;
        }
    }
}
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 45px;
    height: 3px;
    background-color: $firstTextColor;
    margin: 5px;
}

@media screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 90vh;
        top: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $thirdTextColor;
        width: 80%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links a:hover{
        color: #7e6d33;
    }
    .burger{
        display: block;
    }
} 
.nav-active{
    transform: translateX(0%);
}
.banner{
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   min-height: 90vh;
   h2{
       font-size: 36px;
        font-weight: 400;
        font-style: italic;
        font-family: 'Lobster', cursive;
        margin: 0;
        letter-spacing: 3px;
   }
   .main-title{
        font-weight: bolder; 
        padding: 20px 0;
        font-size: 4rem;
        text-transform: uppercase;
   }
   #btn-banner{
    text-transform: uppercase;
    background: $thirdTextColor;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 0.2rem;
    padding: 15px 50px;
    color: $firstTextColor;
    margin: 1rem;
    }
    #btn-banner:hover{
    background: #7e6d33;
    border: none;
    cursor: pointer;
    }
}
@media screen and (max-width: 768px){
    .banner{
        h2{
            font-size: 18px;
        }
        .main-title{
           font-size: 24px;
        }
    }
} 

/*Services*/
.row-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px; 
    P{
        font-size: 14px;
        font-weight: normal;
        color: $forthTextColor;
    }
}
.icon{
    width: 70px;
    height:70px;
    border: 3px solid $thirdTextColor;
    border-radius: 100%;
    margin-bottom: 20px;
    i{
        color: $thirdTextColor;
        font-size: 36px;
        display:flex;
        justify-content: center;
        align-content: center;
        line-height: 1.7;
    }
}

/*Gallery*/
.gallery{
    background-color: #F7F7F7;
    .gallery-wrapper{
        width: 100%;
        height: 390px;
        margin: 0 0 30px 0;
    }
    .gallery-wrapper:hover{
        cursor: pointer;
    }
}
.gallery-items{
    margin-bottom: 20px;
    .gallery-description{
        padding: 20px 0;
        h3{
            margin: 0;
        }
    }
}
.gallery-item{
    background-color:$firstTextColor;
    text-align: center;
    img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    }
}

/*Footer*/

.footer-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 30px 0;
    h5{
        font-style: normal;
    }
    .footer-description{
        text-align: left;
    }
}
.icon-wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .icon-box{
        width: 40px;
        height: 40px;
        background: $forthTextColor;
        border-radius: 100%;
        margin: 0 5px;
    }
    .icon-box:hover{
        background-color: $thirdTextColor;
        cursor: pointer; 
    }
        i{
            color:$firstTextColor;
            font-size:20px;
            display:flex;
            justify-content: center;
            align-items: center;
            text-align:center;
            line-height: 2;
        }
    }

    @media screen and (max-width: 768px) {
        .footer-wrapper .footer-description{
            text-align: center;
            padding-bottom: 10px;
        }
        .icon-wrapper{
            justify-content: center;
        }
    }

