/*Zmienne*/



/*Global*/
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

h1{
    margin:0;
    padding:0;
}


a{
    color:#fff;
    text-decoration: none;
}
.container{
    
}
/*Header*/
header{
    background:url(https://i.postimg.cc/4dSh2ndg/pexels-burst-373893.jpg);
    min-height: 90vh;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    color:#fff;
}
nav{
    min-height: 10vh;
    display:flex;
    justify-content: space-between;
    border:1px solid red;
    align-items: center;
    ul{
        display:flex;
        border:1px solid green;
        list-style:none;
        width: 500px;
        justify-content: space-between;
        li{
            color:#fff;
            text-decoration: none;
        }
    }
}
.banner{
   text-align:center;
   display:flex;
   flex-direction:column;
   justify-content: center;
   align-items: center;
   min-height:90vh;
}
.main-title{
    font-size: 4rem;
    text-transform: uppercase;
    padding: 1rem 0;
}
#btn-banner{
    text-transform: uppercase;
    background:rgb(155, 142, 28);
    font-size: 1.5rem;
    border:none;
    border-radius: 0.5rem;
    padding: 0.5rem 2rem;
    color:#fff;
    margin:1rem;

}

